@()
<div class="container px-4 py-5" style="position:relative;" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Useful Links </h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <img id="link-logo" src='@routes.Assets.versioned("images/book.svg")'  fill="currentColor"   alt="Logo">
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">iSupport</h3>
          <p>Click the Go button to open iSupport portal</p>
          <a href="https://isupport.intelizign.com/" class="btn btn-primary">
            Go
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <img id="link-logo" src='@routes.Assets.versioned("images/pay.svg")'  fill="currentColor"   alt="Logo">
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">iPay</h3>
          <p>Click the Go button to open iPay portal</p>
          <a href="https://ipay.intelizign.com/" class="btn btn-primary">
            Go
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <img id="link-logo" src='@routes.Assets.versioned("images/help.svg")'  fill="currentColor"   alt="Logo">
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Helpdesk</h3>
          <p>Click the Go button to open Helpdesk portal</p>
          <a href="https://helpdesk.intelizign.com/login" class="btn btn-primary">
            Go
          </a>
        </div>
      </div>
    </div>
  </div>