@()
<link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("stylesheets/progressbar.css")'>

<h4 class="card-title">Leave Overview</h4>
<div class="container">
    <div class="row">
        <div class="col-md-6 grid-margin grid-margin-md-0 stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row px-2 template-demo">
                        <div class="col-sm-3 col-md-4 col-6 circle-progress-block">
                            <div id="circleProgress1" class="progressbar-js-circle border rounded p-3">
                                <svg viewBox="0 0 100 100" style="display: block; width: 100%; height: auto;">
                                    <path d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96" stroke="#eee" stroke-width="4" fill-opacity="0"></path>
                                    <path d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96" stroke="rgb(159,162,179)" stroke-width="4" fill-opacity="0" style="stroke-dasharray: 301.635, 301.635; stroke-dashoffset: 199.079;"></path>
                                </svg>
                                <h4 style="margin-top: 10px;">Availed</h4>
                                <div class="progressbar-text">3</div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-4 col-6 circle-progress-block">
                            <div id="circleProgress2" class="progressbar-js-circle border rounded p-3">
                                <svg viewBox="0 0 100 100" style="display: block; width: 100%; height: auto;">
                                    <path d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96" stroke="#eee" stroke-width="4" fill-opacity="0"></path>
                                    <path d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96" stroke="rgb(108,185,124)" stroke-width="4" fill-opacity="0" style="stroke-dasharray: 301.635, 301.635; stroke-dashoffset: 138.752;"></path>
                                </svg>
                                <h4 style="margin-top: 10px;">Available</h4>
                                <div class="progressbar-text">5</div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-4 col-6 circle-progress-block">
                            <div id="circleProgress3" class="progressbar-js-circle border rounded p-3">
                                <svg viewBox="0 0 100 100" style="display: block; width: 100%; height: auto;">
                                    <path d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96" stroke="#eee" stroke-width="4" fill-opacity="0"></path>
                                    <path d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96" stroke="rgb(198,145,145)" stroke-width="4" fill-opacity="0" style="stroke-dasharray: 301.635, 301.635; stroke-dashoffset: 165.899;"></path>
                                </svg>
                                <h4 style="margin-top: 10px;">Requested</h4>
                                <div class="progressbar-text">1</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
